@model MesTaches.ViewModels.TachesProjetsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projets</h2>


<table class="table table-striped">


    @foreach (var item in Model.Projets)
    {       
            <tr>
                <td>
                    @{
                        int cnt = Model.Taches.Count(t => t.ProjetId.Equals(item.Id));                        
                    }
                    @Html.ActionLink(@item.Name, "Details", new { id = item.Id })
                    <span class="badge">@cnt</span>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                </td>
                <td>
                    @Html.ActionLink("Rename", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
