@model MesTaches.ViewModels.TachesProjetsViewModel
@{
    ViewBag.Title = "Home Page";
}
@foreach (var proj in Model.Projets)
{
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@proj.Name</h3>
            </div>

            <div class="panel-body">
                <table class="table table-striped">
                   
                    <tbody>
        @foreach (var task in Model.Taches.Where(t => t.ProjetId == proj.Id))
        {
                    <tr class="row">
                        <td class="col-lg-1">
                            @{ var glClass = task.EndDT.HasValue ? "glyphicon-ok" : "glyphicon-check"; }
                            <span class="glyphicon @glClass" aria-hidden="true"></span>

                        </td>
                        <td class="col-md-6">
                            <a href="Taches/Edit/@task.Id">
                                @task.Name
                            </a>
                        </td>
                        <td class="col-lg-1">
                            @*<button class="btn btn-primary js-toggle-ok" data-tache-id="@task.Id" >Fini</button>*@
                        </td>
                        <td class="col-md-2">@task.User.Name</td>
                        <td class="col-md-2">@task.User.Email</td>
                    </tr>
        }
            </tbody>
                </table>
            </div>
        </div>
}

@section scripts 
    {
        <script>
            
            $(document).ready(function () {
                $(".js-toggle-ok").click(function (e) {
                    var button = $(e.target);                    
                    $.post("/Home/SetDone", { "": button.attr("data-tache-id") })
                        .done(function () {
                        button
                        .removeClass("btn-primary")
                        .addClass("btn-success");
                        })
                        .fail(function(){
                            alert("Something failed!");
                     });
            });
            });
            
        </script>
    }

