@model IEnumerable<MesTaches.Models.Tache>
@{
    ViewBag.Title = "Home Page";
}

<ul class="tasks">
    @foreach (var task in Model)
    {

        <li>
            <div class="date">
                <div>@task.CreateDT.ToString()</div>
                <div class="month">@task.CreateDT.ToString("MMM")</div>
                <div class="day">@task.CreateDT.ToString("dd")</div>
            </div>
            <div class="details">
                <span class="name">@task.Name</span>
                <span class="projet">@task.Projet.Name</span>
            </div>
            <div class="details">
                <span class="name">@task.User.UserName</span>
                
            </div>
        </li>
    }
</ul>