@model IEnumerable<MesTaches.Models.Tache>
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped">
    <thead>
        <tr>            
            <th>Tache</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Projet</th>
            <th>Nom d'utiisateur</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Name</td>
            <td>@task.CreateDT</td>
            <td>@task.EndDT</td>
            <td>@task.Projet.Name</td>
            <td>@task.User.Name</td>
            <td>@task.User.Email</td>
        </tr>
    }
    </tbody>
</table>

