@model MesTaches.ViewModels.TacheFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter une Tache</h2>

@using (Html.BeginForm("Create", "Taches"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Nom de la Tache")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group form-inline">
        @Html.LabelFor(m => m.CreateDate)
        @Html.TextBoxFor(m => m.CreateDate, new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(m => m.CreateDate)
        @Html.LabelFor(m => m.CreateTime)
        @Html.TextBoxFor(m => m.CreateTime, new { @class = "form-control", @type = "time" })
    </div>
    <div class="form-group form-inline">
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
        @Html.LabelFor(m => m.EndTime)
        @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.Projet)
        @Html.DropDownListFor(m => m.Projet, new SelectList(Model.Projets, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Projet)
    </div>*@
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

