@model MesTaches.ViewModels.TachesProjetsViewModel
@{
    ViewBag.Title = "MesTâches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MesTâches</h2>
@foreach (var proj in Model.Projets)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@proj.Name</h3>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-lg-1"></th>
                        <th class="col-md-4">Tâche</th>
                        <th class="col-md-2">
                            <div>Debut</div>
                        </th>
                        <th class="col-md-2">
                            <div>Fait</div>
                        </th>
                        <th class="col-md-2">Date d'échéance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in Model.Taches.Where(t => t.ProjetId == proj.Id))
                    {
                        <tr class="row">
                            <td class="col-lg-1">
                                @{ var glClass = task.EndDT.HasValue ? "glyphicon-ok" : "glyphicon-check"; }
                                <span class="glyphicon @glClass" aria-hidden="true"></span>
                            </td>
                            <td class="col-md-4">
                                <a href="Edit/@task.Id?filter=moi">@task.Name</a>
                            </td>
                            <td class="col-md-2">@task.CreateDT.ToString("dd MMM yyyy")</td>
                            <td class="col-md-2">@(task.EndDT.HasValue ? task.EndDT.Value.ToString("dd MMM yyyy") : "")</td>
                            <td class="col-md-2">@(task.FinalDT.HasValue ? task.FinalDT.Value.ToString("dd MMM yyyy") : "")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
        }
